*{margin:0;padding:0;}
.erro img{max-width:406px;max-height:61px;}
.titulo img{max-width:394px;max-height:81px;}
.box img{max-width:319px;max-height:229px;}
.compartilhe img{max-width:145px;max-height:29px;}
.saibamais img{max-width:414px;max-height:18px;}
